// Color theme : https://coolors.co/48beff-3dfaff-43c59e-3d7068-14453d

html {
    --color1: #48BEFF;
    --color2: #3DFAFF;
    --color3: #43C59E;
    --color4: #3D7068;
    --color5: #14453D;
    --primary: var(--color1);
    --secondary: var(--color2);
}